@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
.gridContainer .encabezado {
  grid-area: encabezado;
  width: 100vw; }

.gridContainer .container-fluid {
  background-color: rgba(243, 220, 241, 0.5); }

.gridContainer .navbar-brand {
  font-size: 3rem; }

.gridContainer .nav-item {
  font-size: 1.5rem; }
  .gridContainer .nav-item .nav-link:hover {
    color: #EA0EF2; }

.logo {
  width: 33%; }

.gridContainer .zapato {
  background-color: rgba(233, 162, 162, 0.5);
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  grid-area: zapato; }
  .gridContainer .zapato .maps {
    width: 50vw; }
  .gridContainer .zapato iframe {
    padding: 1rem;
    width: 100%; }
  .gridContainer .zapato h3 {
    font-size: 3rem;
    margin-top: 1.5rem;
    text-align: center; }
  .gridContainer .zapato .pie {
    width: 50vw; }
    .gridContainer .zapato .pie article {
      display: flex;
      flex-direction: row;
      align-content: flex-end;
      justify-content: center;
      align-items: center; }
    .gridContainer .zapato .pie h3 {
      text-align: center;
      font-size: 3rem;
      margin-top: 1.5rem; }

.gridContainer .pie__icono--sm {
  width: 8rem;
  margin-top: 2rem; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../imagenes/fondo1.jpg);
  font-family: 'Roboto', sans-serif; }

/* ---------------------------------- grid ---------------------------------- */
.gridContainer {
  width: 100vw;
  height: 100vh;
  min-width: 280px;
  display: grid;
  grid-template-columns: repeat 1, 1fr;
  grid-template-rows: auto;
  grid-template-areas: "encabezado encabezado" "main main"  "zapato zapato"; }
  .gridContainer .main {
    grid-area: main;
    width: 100vw; }

/* ---------------------------------- index --------------------------------- */
.carousel-iner {
  width: 100vw;
  height: 50vh; }

/* ------------------------------ quienes somos ----------------------------- */
.mainQuienes {
  text-align: center;
  width: 100vw; }
  .mainQuienes img {
    width: 40vw;
    align-items: center; }
  .mainQuienes .somos h2 {
    margin-top: 50px;
    font-size: 3rem; }
  .mainQuienes .somos p {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem; }

/* -------------------------- servicios adicionales ------------------------- */
.principal section ul {
  display: flex;
  flex-direction: column; }

.main {
  font-size: 1.5rem;
  color: black;
  font-weight: 300;
  line-height: 2.4rem; }
  .main h2 {
    text-align: center;
    font-size: 3rem; }
  .main h3 {
    font-size: 2.7rem;
    margin-bottom: 7%; }

.servicio {
  display: flex;
  flex-direction: row;
  width: 100vw; }

.souvenir {
  background-color: rgba(243, 220, 241, 0.5);
  border: solid;
  border-radius: 1rem;
  max-width: 100%;
  font-size: 2.3rem;
  line-height: 3.5rem;
  margin: 1rem auto;
  padding: 2rem 3rem; }

.extras {
  background-color: rgba(243, 220, 241, 0.5);
  border: solid;
  border-radius: 1rem;
  font-size: 2.3rem;
  line-height: 3.5rem;
  max-width: 100%;
  margin: 1rem auto;
  padding: 2rem 3rem; }
