.gridContainer{
    .encabezado{
        grid-area: encabezado;
        width: 100vw;
        font-size: 7rem;
        }
        .container-fluid{
            background-color: rgba(243, 220, 241, 0.5);
            
        }
            
            .nav-item{
                .nav-link{
                    font-size: 2rem;
                    &:hover{
                    color: #EA0EF2;
                    }
                    }
                    }
                    #navbarNav{
                        margin-right: 5rem;
                        
                    }
                    }
            .logo{
                width: 33%;
            }
