@import "_variables.scss";
@import "_navBar.scss";
@import "_footer.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
	margin: 0;
    padding: 0;
}

html {
	font-size: 62.5%;
} 

body {
	background-image: url(../imagenes/fondo1.jpg);
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------- grid ---------------------------------- */

.gridContainer{
    width: $ancho;
	height: 100vh;
	min-width: 280px;
    overflow-x: hidden;
	display: grid;
	grid-template-columns: repeat (1, 1fr) ;
	grid-template-rows: auto;
	grid-template-areas: "encabezado encabezado"
                        "breadcrumbs breadcrumbs"
						"main main" 
						"zapato zapato";
    
    .main{
        grid-area: main;
        width: $ancho;
    }

}

/* ---------------------------------- index --------------------------------- */
.gridContainer{
    .desktop{
        .carousel-item{
            width: 100vw;
            img{
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
            .carousel-caption{
                p{
                    font-size: 3rem;
                    color: white;
                    text-shadow: 2px 2px 1px #000;
                }
            
            }
    }
}
    .phone{
        display: none;
    }
}

/*-------------------------- quienes somos ----------------------------- */

.mainQuienes{
    text-align: $centro;
	width: 100vw;

    img{
        width: 40vw;
        align-items: $centro;
    }
    .somos{
        h2{
            margin-top: 5rem;
            font-size: 3rem;
            margin-bottom: 2rem;
            
        }
        p{
            text-align: $centro;
            font-size: 2rem;
            line-height: 2rem;
            padding: 0 3rem;
            margin-top: 0.3rem;
        }
    }
}
.breadcrumbs{
    grid-area: breadcrumbs;
    font-size: 2rem;
    height: 4rem;
    background-color: #e57be9;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    .breadcrumb{
        .active{
            color: #000
        }
        .breadcrumb-item{
            a{
                text-decoration: none;
            }
        }
    }
}

/* -------------------------- servicios adicionales ------------------------- */
.principal section ul{
@include d-column;
}

.principal{
    font-size: 1.5rem;
	color: black;
	font-weight: 300;
	line-height: 2.4rem;
    h2{
        text-align: center;
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    h3{
        font-size: 2.7rem;
        margin-bottom: 7%;
    }
}

    .servicio{
        @include d-row;
        width: 100vw;
    }
        .souvenir{
            background-color: $color;
            border: solid;
            border-radius: map-get($map:$border-radius, $key:br1 );
            max-width: 100%;
            font-size: 2.3rem;
            line-height: 3.5rem;
            margin: 1rem auto;
            padding: 2rem 3rem;
            }
        .extras{
            @extend .souvenir;
            }

/* ------------------------------- que hacemos ------------------------------ */

.principal .textContent{
    text-align: $centro;
    margin: 2rem 0;
    b{
    font-size: 1.9rem;
	margin-top: 5rem;


}
}
    .container1{
        @include d-row;
        .dropdown{
            display: none;
        }
    }
        .container2{
            background-color: rgba(243, 220, 241, 0.5);
            border: solid;
            border-radius: map-get($map:$border-radius, $key:br2 );
            width: 55rem;
            height: auto;
            font-size: 2.3rem;
            line-height: 4rem;
            margin: 1rem auto;
            padding:2rem 3rem;
        }
        .container3{
        @extend .container2;
        line-height: 3.8rem;
        padding:2rem 4rem;
            }

    /* --------------------------------- galeria -------------------------------- */

.galeria{
    height: 50vh;
	max-width: 30%;
	margin:0 auto;
	margin-top: 2rem;
	animation-name: animateGaleria;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	animation-timing-function: ease;
	background-size: cover;
}
    @keyframes animateGaleria {
        0%{background-image: url(../imagenes/dedos.jpg)}
        25%{background-image: url(../imagenes/espejo.jpg)}
        50%{background-image: url(../imagenes/reunion.jpg)}
        75%{background-image: url(../imagenes/vasos.jpg)}
        100%{background-image: url(../imagenes/mesa.jpg);}
} 


/* ------------------------------- formulario ------------------------------- */

.gridContainer{
    .mainform{
    width: 80vw;
	padding: 1%;
	margin: auto;
	margin-top: 5%;
    }
    .form__imput legend{
        font-size: 2.5rem;
        margin-bottom: 4%;
    }
}
.mainForm{
    h2{
        margin: 1rem;
        font-size: 4.5rem;
        text-align: center;
        margin-top: 0.2rem;
        margin-bottom: 2rem;
    }
    form{
        font-size: medium;
        width: 50%;
        background-color: rgb(217, 245, 247);
        border-radius: map-get($map: $border-radius, $key:br3 );
        border: rgb(224, 17, 197) 5px solid;
        margin: 0 auto;
    }
}
.form__imput{
    padding: 2rem;
	width: 80%;
	font-weight: bold;
	display: block;
	margin: 0 auto;
    label{
        margin-top: 2rem;
        font-size: 2.3rem;
    }
    input{
        padding: 1.5rem;
        margin-top: 2rem;
        width: 100%;
        border: none;
        border-bottom: rgb(224, 17, 197) 3px solid;
        background-color: transparent;
        background: linear-gradient(to bottom, transparent, #e248e7);
        outline: none;
        }
        textarea{
            border: none;
            border-bottom: rgb(224, 17, 197) 3px solid;
            background-color: rgb(198, 230, 241);
            background: linear-gradient(to bottom, transparent, #e248e7);
            resize: none;
            width: 100%;
        }
    }

.borde{
    width: 50%;
    margin: 0 auto;
    .enviar{
        text-align: center;
    }
}

/* ------------------------ comienzo de media queries ----------------------- */

/* // Small devices (landscape phones, less than 1120px) */
@media (min-width:768px) and (max-width: 1120px){
    .gridContainer{
        width: 100vw;
        .container2{
            margin: 2rem;
        }
    }
}
/* // Small devices (landscape phones, less than 1250px) */
@media (min-width:768px) and (max-width: 1250px){
    .gridContainer{
        width: 100vw;
        .souvenir{
            margin: 2rem;
        }
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
.gridContainer {
		width: 100vw;
        .encabezado{
            .container-fluid{
                .logo{
                    width: 40%
                }
            }
        }
        .mainForm{
            width: 100vw;
            h2{
                font-size: 4rem;
            }
        }
        .form__imput legend{
            font-size: 2.5rem;
        }
        .carousel-item{
            width: 100%;
            height: 100%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                
                
                }
        }
        .phone{
            display: none;
        }
	}
    .mainQuienes img {
        width: 80vw;
    }
    .principal {
        @include d-column;
        
    }
    .container1{
        @include d-column;
        
    }
    .galeria{
        max-width: 100%;
        margin: auto;
    }
    .servicio{
        @include d-column;
        align-self: center;
    }
    .mainForm form {
        width: 100%;
    }
    .borde{
        width: 70%;
    }

}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.gridContainer {
		width: 100vw;
        .encabezado{
            .container-fluid{
                .logo{
                    width: 60%
                }
            }
        }
        .carousel-item{
            width: 100%;
            height: 100%;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                
                
                }
        }
        .desktop{
            display: none;
        }
        .phone{
            display: block;
        }
	
    .container1{
        @include d-column;
        width: 100vw;
        .dropdown{
            display: block;
        }
    }
    .container2, .container3{
        width: 100%;
        
    }
    .mainQuienes img{
        width: 100vw;
        height: 18vh;
    }
    .mainForm .form__imput {
        width: 100%;
        legend{
            padding: 1.5rem;
        }
    }
    .borde{
        width: 70%;
        padding: 5%;
    }
    .galeria{
        max-width: 100%;
        margin: auto;
    }
    .zapato{
        width: 100vw;
        @include d-column;
        justify-content: center;
        .pie{
            width: 100vw;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .maps{
            width: 100%;
        }
    }
    
    .maps iframe{
        width: 100%;
    }
}
}
/* -------------------------------- error 404 ------------------------------- */
.error404{
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;


    .ops{
        font-size: 5rem;
        color: rgb(10, 3, 71);
        line-height: 8rem;
        text-align: center;
    }
    .error{ 
        font-size: 4rem;
        color: rgb(10, 3, 71);
        line-height: 8rem;
        text-align: center;
    }
    .page{
        font-size: 3rem;
        color: rgb(10, 3, 71);
        line-height: 8rem;
        text-align: center;
    }
    .pobre{
        width: 40vw;
        text-align: center;
        @media (max-width: 768px){width: 100vw;}
        img{
            width: 100%;
        }
        @media (max-width: 576px){width: 100vw;}
        img{
            width: 100%;
        }
    }

    .boton{
        margin-top: 1rem;
        color: #fff;
        font-size: 2rem;
        padding: 2rem 4rem;
        background-color: #36abbb;
        border-radius: 10px;
        border: none;
        transition: all .4s;
        &:hover {
            color: #f1e9e3;
            background-color: #261b83;
            box-shadow: 4px 4px 5px;
        }
    }
}